@using MudBlazor

<div class="d-flex justify-content-center align-items-center p-2">
    <MudDatePicker Class="homeCalendarCss shadow" Orientation="Orientation.Landscape" PickerVariant="PickerVariant.Static" Date="@(DateTime.Today.AddDays(1))" />
</div>



@code {

}


<style>
    .mud-picker-static {
        display: flex;
        overflow: hidden;
        flex-direction: column;
        border: 1px solid lightgrey;
        border-radius:30px;
    }

    .mud-picker-static {
        display: flex;
        overflow: hidden;
        min-width: 322px;
        flex-direction: column;
    }
   
</style>