@using MudBlazor

<div class="d-flex justify-content-center align-items-center p-2" style="width:30vw;">
    <MudDatePicker Class="w-100 shadow" Orientation="Orientation.Landscape" PickerVariant="PickerVariant.Static" Date="@(DateTime.Today.AddDays(1))" />
</div>



@code {

}


<style>
    .mud-picker-static {
        display: flex;
        overflow: hidden;
        flex-direction: column;
        border: 1px solid lightgrey;
        border-radius:30px;
    }

    .mud-picker-static {
        display: flex;
        overflow: hidden;
        min-width: 322px;
        flex-direction: column;
        background-color:white;
    }
   
    .mud-picker-toolbar.mud-picker-toolbar-landscape {
        background-color: #0066FF !important;
    }

    button.mud-button-root.mud-icon-button.mud-ripple.mud-ripple-icon.mud-picker-calendar-day.mud-day.mud-selected.mud-theme-primary {
        background-color: #0066FF !important;
    }

    button.mud-button-root.mud-icon-button.mud-ripple.mud-ripple-icon.mud-picker-calendar-day.mud-day.mud-current.mud-button-outlined.mud-button-outlined-primary.mud-primary-text{
        border-color: #0066FF !important;
    }

    h5.mud-typography.mud-typography-h5.mud-picker-month-selected.mud-primary-text{
        color: #0066FF !important;
    }

    h5.mud-typography.mud-typography-h5.mud-picker-year-selected.mud-primary-text{
        color: #0066FF !important;
    }

</style>