.cardAction {
    width: 30vw;
    height: 30vh;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
    border:1px solid lightgray;
}

    .cardAction:hover {
        transform: scale(1.05);
        z-index: 1;
    }

.cardHeader {
    width: 100%;
    height: 20%;
    border-radius: 30px 30px 0px 0px;
    background: linear-gradient(45deg, #006, transparent);
}

.cardHeaderNoEffect{
    width: 100%;
    height: 20%;
    border-radius: 30px 30px 0px 0px;
    background-color: #0066FF;
}

.cardBody {
    width: 100%;
    height: 80%;
}

.text {
    color: #FFFFFF;
    font-size: xx-large;
    font-weight: var(--mud-typography-button-weight);
    line-height: var(--mud-typography-button-lineheight);
    letter-spacing: var(--mud-typography-button-letterspacing);
}

.cardBodyReserGo {
    width: 100%;
    height: 80%;
    background-color: #FFFFFF;
    border-radius: 0px 0px 30px 30px;
    color: #404040;
    font-size: x-large;
    padding-inline: 4vw !important;
}

.cardBodyReserGoSmall {
    width: 100%;
    height: 80%;
    background-color: #FFFFFF;
    border-radius: 0px 0px 30px 30px;
    color: #404040;
    font-size: large;
    padding-inline: 4vw !important;
}


.cardActionNoZoom {
    width: 30vw;
    height: 30vh;
    border-radius: 30px;
    border: 1px solid lightgray;
}