.cardDetails {
    border-radius: 30px;
    border: 1px solid lightgray;
}

.cardDetailsHeader {
    width: 100%;
    height: 20%;
    border-radius: 30px 30px 0px 0px;
    background-color: #FFFFFF;
    padding-inline: 1vw;
}
.cardDetailsHeaderSmall {
    width: 100%;
    height: 30%;
    border-radius: 30px 30px 0px 0px;
    background-color: #FFFFFF;
    padding-inline: 1vw;
}

.cardBodyDetails {
    width: 100%;
    height: 80%;
    background-color: #FFFFFF;
    border-radius: 0px 0px 30px 30px;
    color: #404040;
    font-size: large;
}

.textDetails {
    color: #0066FF;
    font-size: x-large;
    line-height: var(--mud-typography-button-lineheight);
    letter-spacing: var(--mud-typography-button-letterspacing);
}
