.loginHeader {
    width: 100%;
    height: 8%;
    background-color: #0066FF;
}


.titleLogin {
    font-size: xx-large;
    padding-inline: 10px;
}

.rightTextHeader {
    font-size: x-large;
    color: #FFFFFF;
    cursor: pointer;
}


