.cardScheduleContainer {
    padding-inline: 0.8vw;
    padding-block: 0.5vh;
}



.headerScheduleCard {
    padding-inline: 0.5vw;
    height: 30%;
    border-bottom: 1px solid lightgrey;
}

.bodyScheduleCard {
    padding-inline:0.5vw;
    height:70%;
}

.textScheduleTitle {
    color: #404040;
    font-size: 1.5vw;
}

.cardSchedule {
    width: 35vw;
    height: 20vh;
    background-color: white;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid lightgrey;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .cardSchedule:hover {
        box-shadow: 1px 0px 20px 0px #0066FF;
        z-index: 1;
        transform: scale(1.05);
    }

    .cardSchedule.active {
        transform: scale(1.05);
        box-shadow: 1px 0px 20px 0px #0066FF;
        z-index: 1;
    }

.cardScheduleSmall {
    width: 35vw;
    height: 20vh;
    background-color: white;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid lightgrey;
}

    .cardScheduleSmall.active {
        box-shadow: 1px 0px 7px 0px #0066FF;
    }