.cardScheduleContainer {
    padding-inline: 0.8vw;
    padding-block: 0.5vh;
}

.cardSchedule {
    width: 35vw;
    height: 20vh;
    background-color: white;
    border-radius: 15px;
    cursor:pointer;
    border:1px solid lightgrey;
}

.headerScheduleCard {
    padding-inline: 0.5vw;
    height: 30%;
    border-bottom: 1px solid lightgrey;
}

.bodyScheduleCard {
    padding-inline:0.5vw;
    height:70%;
}

.textScheduleTitle {
    color: #404040;
    font-size: 1.5vw;
    font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
}