@using MudBlazor



<div class="d-flex w-100 h-100">


    @* TITOLO *@
    
    @* <span class="successTitle" ></span> *@

    @* ICONA *@

    @* <MudIcon Icon="@item.Icon" Style="font-size: x-large; color:white;"  /> *@

    @* DESCRIZIONE *@
    @* <span class="successTitle" ></span> *@

    @* TASTO DI CHIUSURA *@

    @* <MudButton OnClick="Cancel" class="cancelButtonSuccess btn-primary" style="width:15vw;" type="submit">Annulla</MudButton> *@



</div>


@code {

}
