@using MudBlazor


<div class="d-flex flex-column p-2 w-100 h-100 historicalContainer">
    <div class="d-flex align-items-center w-100 historicalTitle" > <h2 style="color:#0066FF"> Storico prenotazioni</h2> </div>
    <HistoricalTable />
</div>

@code {
    
}