@using MudBlazor
@using ReserGO.Utils.UI
@using ReserGO.ViewModel.Interface.Historical
@using ReserGO.ViewModel.ViewModel.Historical
@using ReserGO.DTO

@inherits BaseComponentChild<IHistoricalViewModel, DTOBooking>

<div class="d-flex flex-column p-2 w-100 h-100 historicalContainer">
    <div class="d-flex align-items-center w-100 historicalTitle" Bookings="CurrentViewModel.Bookings"> <h2 style="color:#0066FF"> Storico prenotazioni</h2> </div>
    <HistoricalTable />
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await CurrentViewModel.Refresh();
    }
}