@using MudBlazor
@using ReserGO.Utils.UI
@using ReserGO.ViewModel.Interface.Historical
@using ReserGO.ViewModel.ViewModel.Historical
@using ReserGO.DTO
@using ReserGO.Utils.DTO.Utils
@inherits BaseComponentChild<IHistoricalViewModel, DTOBooking>

<div class="d-flex flex-column p-2 w-100 h-100 historicalContainer">
    <HistoricalTable Bookings="CurrentViewModel.Bookings" PagingOptions="@CurrentViewModel.Pagination" Action="@(async (GridAction<DTOBooking, DTOBookingFilter> action) => await CurrentViewModel.ExecuteAction(action))" IsLoading="@CurrentViewModel.IsLoading"/>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await CurrentViewModel.Refresh();
    }
}