@using MudBlazor

<div class="d-flex flex-column shadow cardAction" @onclick="@(()=> Click())" >
    <div class="d-flex justify-content-center align-items-center cardHeader">
        @if(Icon.Length > 1)
        {
            <MudIcon Icon="@Icon" />
        }
        <span class="text" style="padding-inline:1vw;">@Title</span>
    </div>
    <div class="d-flex cardBody">
    
    </div>
</div>

@code {

    [Parameter]
    public EventCallback Callback { get; set; }

    [Parameter]
    public string Title { get; set; } = "Titolo";

    [Parameter]
    public string Descrizione { get; set; } = "Descrizione...";

    [Parameter]
    public string Icon { get; set; } = "";

    protected override void OnInitialized(){
        
    }

    private async Task Click()
    {
        if (Callback.HasDelegate)
        {
            await Callback.InvokeAsync();
        }
    }
}
