.descriptionConfirmModal {
    font-size: xx-large;
    color: #0066FF;
}

.descriptionConfirmModalSmall {
    font-size: x-large;
    color: #0066FF;
}

::deep .registerButtonConfirm {
    display: inline-block;
    height: 8vh;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #0066FF;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: large;
    border-radius: 30px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

    ::deep .registerButtonConfirm:hover {
        background-color: #1170FF;
        box-shadow: 0 0 10px 3px rgba(128, 128, 128, 0.5);
    }

.infoMail {
    font-size: 1vw;
    color: #0066FF;
    text-align:center;
}
.infoMailSmall {
    font-size: medium;
    color: #0066FF;
    text-align: center;
}

.cardSummary{
    border-radius:30px;
    border: 1px solid lightgrey;
    background-color:whitesmoke;
}

.scheduleDivider {
    height: 95%;
    width: 1px;
    border: 1px solid #E1E1E1;
    padding-block: 10px;
}

.titleSummary {
    font-size: xx-large;
    color: #0066FF;
    padding-inline: 2vw;
    padding-top: 2vh;
}

.cardTitleSummry {
    font-size: x-large;
    color:#555555;
}

.dividerTitleSummary {
    width: 50%;
    height: 3px;
    border-radius: 15px;
    opacity: 0.6;
    background-color: #0066FF;
}

.cardSummaryDescription {
    padding-inline: 1vw;
    padding-block: 2vh;
    font-size: large;
    color: #555555;
    max-width: 100%;
    overflow-wrap: break-word;
}

.cardSummaryService {
    color: #0066FF;
    max-height: 30vh;
    height:95%;
}
.checkboxCard {
    background-color: #F7F7F7;
    border-radius: 15px;
    border: 1px solid lightgray;
}