.descriptionConfirmModal {
    font-size: xx-large;
    font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
    color: #0066FF;
}

.descriptionConfirmModalSmall {
    font-size: x-large;
    font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
    color: #0066FF;
}

::deep .registerButtonConfirm {
    display: inline-block;
    height: 8vh;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #0066FF;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: large;
    border-radius: 30px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

    ::deep .registerButtonConfirm:hover {
        background-color: #1170FF;
        box-shadow: 0 0 10px 3px rgba(128, 128, 128, 0.5);
    }

.infoMail {
    font-size: x-large;
    font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
    color: #0066FF;
    text-align:center;
}
.infoMailSmall {
    font-size: medium;
    font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
    color: #0066FF;
    text-align: center;
}