@using ReserGO.Miscellaneous.Model
@using ReserGO.UI.FiltersComponent
@using MudBlazor
@using ReserGO.ViewModel.Interface.FiltersComponent
@using ReserGO.ViewModel.Interface.Register
@using ReserGO.DTO
@using ReserGO.Utils.UI
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using ReserGO.UI.Utils
@using ReserGO.UI.Login
@using ReserGO.ViewModel.Interface.Schedule;
@using ReserGO.Miscellaneous.Model
@using ReserGO.Utils.DTO.Utils
@using ReserGO.UI.FiltersComponent
@inherits BaseComponentChild<IModalScheduleViewModel, DTOResource>

<MudDialog Class="scheduleDialogCss" Visible="CurrentViewModel.IsOpen" OnBackdropClick="OnBackdropClickHandler" Options="@Options">
    <TitleContent>

    </TitleContent>
    <DialogContent>

        <div class="d-flex dialogScheduleContainer p-1">
            <MudTabs Elevation="4" Rounded="true" Centered="true" Color="@Color.Primary">
                <MudTabPanel Text="Giorno e ora">
                    <div class="d-flex flex-column justify-content-around columnCalendar" style="width:50%;">
                        <Calendar DisabledWhen="CurrentViewModel.DayDisabled" OnClick="@(async (DateTime date) => await CurrentViewModel.SetSlot(date) )"/>
                    </div>

                    <div class="d-flex flex-column justify-content-center h-100">
                        <div class="scheduleDivider"></div>
                    </div>

                    <div class="d-flex flex-column columnCalendar" style="width:50%;">
                        <TimeSchedule TimeSlots="CurrentViewModel.TimeSlots"></TimeSchedule>
                    </div>
                </MudTabPanel>
                @if (CurrentViewModel.UserIs(RoleConst.GUEST))
                {
                    <MudTabPanel Text="Anagrafica">
                        <ScheduleForm />
                    </MudTabPanel>
                }
                <MudTabPanel Text="Three">
                    <div class="d-flex flex-column justify-content-around columnCalendar" style="width:50%;">

                        <Calendar />

                    </div>

                    <div class="d-flex flex-column justify-content-center h-100">
                        <div class="scheduleDivider"></div>
                    </div>

                    <div class="d-flex flex-column columnCalendar" style="width:50%;">
                        <TimeSchedule></TimeSchedule>
                    </div>
                </MudTabPanel>
            </MudTabs>
        </div>

    </DialogContent>

</MudDialog>

@code {
    public DialogOptions Options = new DialogOptions
        {
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.ExtraLarge,
            NoHeader = true,
        };
    private DateTime _dateTimeSelected{ get; set; }

    private async Task OnBackdropClickHandler(MouseEventArgs e)
    {
        CurrentViewModel.Close();
    }
}

<style>
    .scheduleDialogCss {
        width: 70%;
        height: 60%;
        max-width: 70% !important;
        border-radius: 30px !important;
    }

    .mud-tabs {
        width: 100%;
    }

    .mud-tabs-panels {
        display: flex;
        height: 100%;
    }

    .mud-tab-slider.mud-tab-slider-horizontal {
        width: 160.29px !important;
    }

    .mud-tabs-tabbar.mud-tabs-rounded.mud-tabs-tabbar-primary.mud-elevation-4 {
        border-radius: 20px !important
    }
</style>