
    <Header Title="Studio Rossi" RightTitle="Accedi o Registrati" RightTitleEnabled="true" BackgroundColor="#0066FF" ColorFont="#FFFFF"></Header>


<div class="d-flex flex-column scheduleContainer">

    <div class="d-flex flex-row scheduleBody">

        <div class="d-felx flex-column leftSideSchedule">

        </div>

        <div class="d-flex flex-column rightSideSchedule">

        </div>

    </div>

</div>

@code {

}
