@using ReserGO.Miscellaneous.Model
@using ReserGO.UI.FiltersComponent
@using MudBlazor
@using ReserGO.ViewModel.Interface.FiltersComponent
@using ReserGO.ViewModel.Interface.Register
@using ReserGO.DTO
@using ReserGO.Utils.UI
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using ReserGO.UI.Utils

<div class="d-flex timeScheduleContainer">
    <div class="d-flex flex-column w-100 h-100">
        <div class="d-flex flex-row align-items-center justify-content-between w-100" style="height:25%">
            <TimeCard Time="09:00" ></TimeCard>                                                      
            <TimeCard Time="10:00" ></TimeCard>                                                      
        </div>                                                                                       
        <div class="d-flex flex-row align-items-center justify-content-between w-100" style="height:25%">
            <TimeCard Time="11:00" ></TimeCard>                                                      
            <TimeCard Time="12:00" ></TimeCard>                                                      
        </div>                                                                                       
        <div class="d-flex flex-row align-items-center justify-content-between w-100" style="height:25%">
            <TimeCard Time="14:00" ></TimeCard>
            <TimeCard Time="15:00" ></TimeCard>
        </div>
        <div class="d-flex flex-row align-items-center justify-content-between w-100" style="height:25%">
            <TimeCard Time="16:00" ></TimeCard>
            <TimeCard Time="Conferma" ></TimeCard>
        </div>
    </div>
</div>

@code {
    private string TimeForCard = "";

    protected override void OnInitialized()
    {

    }

}
