@using ReserGO.Miscellaneous.Model
@using ReserGO.UI.FiltersComponent
@using MudBlazor
@using ReserGO.ViewModel.Interface.FiltersComponent
@using ReserGO.ViewModel.Interface.Register
@using ReserGO.DTO
@using ReserGO.Utils.UI
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using ReserGO.UI.Utils
@using ReserGO.DTO.ListAvailability
<div class="d-flex timeScheduleContainer">
    <div class="d-flex flex-column w-100 h-100" style="overflow:scroll">
        <div class="d-flex flex-wrap align-items-center justify-content-between w-100" style="height:25%">

            @if (TimeSlots != null && TimeSlots.Count() > 0)
            {
                @foreach (var timeslot in TimeSlots)
                {
                    <TimeCard Time="@($"{timeslot.StartTime.Hours:D2}:{timeslot.StartTime.Minutes:D2}")"></TimeCard>


                }
            }
        </div>

        </div>

    </div>

@code {
    [Parameter]
    public List<DTOTimeSlot> TimeSlots { get; set; }
    private string TimeForCard = "";

    protected override void OnInitialized()
    {

    }

}
