@using ReserGO.Miscellaneous.Model
@using ReserGO.UI.FiltersComponent
@using MudBlazor
@using ReserGO.ViewModel.Interface.FiltersComponent
@using ReserGO.ViewModel.Interface.Register
@using ReserGO.DTO
@using ReserGO.Utils.UI
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using ReserGO.UI.Utils
@using ReserGO.DTO.ListAvailability

<div class="d-flex timeScheduleContainer" style="@(IsSmallView ? "height: 53vh; !important":"")">
    @if (IsLoading)
    {
        <div class="d-flex align-items-center justify-content-center h-100 w-100">
            <MudProgressCircular Color="Color.Primary" Indeterminate="true" Class="mudProgressSchedules" />
        </div>
    }
    @if (TimeSlots != null && TimeSlots.Count() > 0)
    {
        <div class="d-flex flex-column w-100 h-100" style="overflow:scroll">
            <div class="d-flex flex-wrap align-items-center justify-content-between w-100" style="height:25%">


                @foreach (var timeslot in TimeSlots)
                {
                    <TimeCard Time="@($"{timeslot.StartTime.Hours:D2}:{timeslot.StartTime.Minutes:D2}")" OnClick="@(() => OnClickSlot(timeslot))"></TimeCard>
                }

            </div>

        </div>
    }

    @if (IsFirstLoading)
    {
        <div class="d-flex w-100 h-100 align-items-center justify-content-center" >
            <span class="descriptionDetails" style="font-size:x-large; opacity:0.5; margin-right:20px;"><i>Seleziona un'altra data'</i></span>
        </div>
    }

</div>


@code {
    [Parameter]
    public List<DTOTimeSlot> TimeSlots { get; set; }
    [Parameter]
    public EventCallback<DTOTimeSlot> OnClick { get; set; }
    [Parameter]
    public bool IsLoading { get; set; }
    [Parameter]
    public bool IsFirstLoading { get; set; }
    [Parameter]
    public bool IsSmallView { get; set; }
    private string TimeForCard = "";


    public async Task OnClickSlot(DTOTimeSlot slot)
    {
        if (OnClick.HasDelegate)
            await OnClick.InvokeAsync(slot);
    }

}
