@using Microsoft.AspNetCore.Components.Authorization
@using MudBlazor
@using ReserGO.DTO
@using ReserGO.Utils.Event
@using ReserGO.Utils.UI
@using ReserGO.UI.Utils
@using ReserGO.ViewModel.Interface.Authentication
@using ReserGO.ViewModel.Interface.Utils
@using ReserGO.UI.Authentication;
@using Microsoft.AspNetCore.Components.Authorization;
@using Microsoft.AspNetCore.Components;

@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider;

<div class="pageContainer">
    <BaseComponent TViewModel="ILoadingSpinnerViewModel" TModel="object">
        <Content>
            <LoadingSpinner />
        </Content>
    </BaseComponent>
    <MudThemeProvider />
    <MudPopoverProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />

    @if (!IsRedirect)
    {
        <AuthorizeView>
            <Authorized>
                @if (Render)
                {
                    @Body
                }
            </Authorized>
            <NotAuthorized>
                <BaseComponent TViewModel="ILoginViewModel" TModel="DTOLoginRequest">
                    <Content>
                        <Login />
                    </Content>
                </BaseComponent>
            </NotAuthorized>
        </AuthorizeView>
    }
    else
    {
        @Body
    }
</div>

<style>
    .mud-dialog .mud-dialog-content {
        padding: 0 !important;
        margin: 0 !important;
    }
</style>

