@using MudBlazor;
@using ReserGO.UI.Utils
@using ReserGO.Utils.UI
@using ReserGO.ViewModel.Interface.Header

<div class="d-flex flex-column homeLoginContainer">
    <div class="d-flex flex-column homeLoginBody">

        <div class="d-felx flex-row topSideLogin">

            <div class="d-flex justify-content-around align-items-center w-100 h-100">

                <CardReserGo Title="Prenotazione" Description="Richiedi un appuntamento per una nuova visita medica" Icon="@ReservationIcon"/>

                <CardReserGo Title="Informazioni" Description="Tutte le informazioni sullo studio medico" Icon="@InformationIcon" />

            </div>

        </div>

        <div class="d-flex flex-row bottomSideLogin">

            <CalendarHome />

            <div class="d-flex flex-column justify-content-center" >
                <div class="d-flex p-2">
                    <CardReserGo Title="Prenotazione" Description="Richiedi un appuntamento per una nuova visita medica" Icon="@ReservationIcon" CardStyle="width:26vw;height:26vh" />
                </div>
                <div class="d-flex p-2">
                    <CardReserGo Title="Informazioni" Description="Tutte le informazioni sullo studio medico" Icon="@InformationIcon" CardStyle="width:26vw;height:26vh" />
                </div>
            </div>

        </div>
    </div>
</div>


@code {
    private string ReservationIcon = "";
    private string InformationIcon = "";
    private string HourDesc = "";
    private string AddresDesc = "";


    protected override void OnInitialized()
    {
        ReservationIcon = Icons.Material.Filled.AddCircleOutline;
        InformationIcon = Icons.Material.Filled.Info;

        AddresDesc = "Via Roma, 123, 00100 Roma, Italia.     Dr.Rossi: 06 / xxxxxxx    Segreteria: 06 / xxxxxxx";
        HourDesc = "Lunedì: 09:00 - 13:00 / 16:00 - 18:30 Martedì: 09:00 - 13:00 / 16:00 - 18:30 Mercoledì:09:00 - 13:00 / 16:00 - 18:30 Giovedì:09:00 - 13:00 / 16:00 - 18:30 Venerdì:09:00 - 13:00 / 16:00 - 18:30 Sabato/Domenica:studio chiuso";

    }

    private void Click()
    {

    }

}

