.homeLoginContainer {
    width: 100%;
    height: 100%;
}

.topSideLogin {
    width: 100%;
    height: 45%;
}

.bottomSideLogin {
    width: 100%;
    height: 55%;
}

.homeLoginBody {
    width: 100%;
    height: 100%;
}

.informationHomeContiner {
    width: 100%;
    height: 40%;
    padding: 1vw;
}


.detailsHomeLoginContiner {
    width: 100%;
    height: 60%;
    padding-inline: 1vw;
}
