.cardLogin {
    width: 70vw;
    height: 65vh;
    border-radius: 25px;
    border: 1px solid #0066FF;
    background-color: #0066FF;
}

.cardLoginSmall {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    border: 1px solid #0066FF;
    background-color: #0066FF;
}

::deep .iconCardLogin {
    color: #FFFFFF;
    font-size: 20vh !important;
}

::deep .iconCardLoginSmall {
    color: #FFFFFF;
    font-size: 5rem !important;
}

::deep .iconCardRegister {
    color: #FFFFFF;
    font-size: 19vh !important;
}

.loginSide {
    width: 49%;
    height: 100%;
}

.registerSide {
    width: 49%;
    height: 100%;
}

.loginDivider {
    height: 90%;
    width: 1px;
    border: 1px solid #ffffff;
    padding-block: 10px;
}

.loginDividerSmall {
    width: 90%;
    height: 1px;
    border: 1px solid #ffffff;
    padding-block: 10px;
}

.titleCardLogin {
    font-size: 2.5vw;
    color: #FFFFFF;
    padding-inline: 3vw;
}

.textInputCardLogin {
    font-size: 1.5vw;
    color: #FFFFFF;
    padding-block: 0.5vw;
}

.inputCss {
    padding-block: 0.5vw;
    display: block;
    width: 25vw;
    height: 4vh;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

::deep .loginButton {
    display: inline-block;
    width: 10vw;
    height: 4vh;
    color: #404040;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #EEEEEE;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1vw;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

    ::deep .loginButton:hover {
        background-color: #FFFFFF;
    }

.titleCardRegister {
    font-size: 2vw;
    color: #FFFFFF;
    padding-inline: 3vw;
}

.titleCardRegisterSmall {
    font-size: x-large;
    color: #FFFFFF;
    padding-inline: 3vw;
    text-align: center;
}

.descRegister {
    font-size: 1.2vw;
    color: #FFFFFF;
    padding-inline: 3vw;
}

.descGuest {
    font-size: 1.5vw;
    color: #FFFFFF;
    padding-inline: 3vw;
}

.loginButtonSmall {
    display: inline-block;
    width: 83%;
    color: #404040;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #EEEEEE;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: large;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
