@using MudBlazor


<div class="d-flex flex-column p-2 w-100 h-100 scheduleRequestContainer">
    <div class="d-flex align-items-center w-100 scheduleRequestTitle"> <h2 style="color:#0066FF"> Elenco richieste di prenotazione</h2> </div>
    <ScheduleRequestTable />
</div>

@code {
    
}