@page "/Manutenzione"

<div class="d-flex justify-content-center align-items-center h-100">
    <div class="overlayText" style="backdrop-filter: blur(40px);">
        <div class="wrapper">
           <h2>Il sito è attualmente in manutenzione</h2>
        </div>
        </div>
</div>