@using MudBlazor;
@using ReserGO.UI.Utils
@using ReserGO.Utils.UI
@using ReserGO.ViewModel.Interface.Home;
@using Microsoft.AspNetCore.Components.Authorization
@using ReserGO.DTO;
@using ReserGO.UI.Login
@using ReserGO.UI.UIComponents

@inject NavigationManager NaviMngr;
@inherits BaseComponentChild<ILoginViewModel, DTOLoginRequest>


<div class="d-flex flex-column loginContainter">
    <Header Icon="@Icon" Title="Studio Rossi" RightTitle="Accedi o Registrati" RightTitleEnabled="true"></Header>
    <div class="d-flex justify-content-center align-items-center loginContent">
        @* <CardLogin Callback="@(async (DTOLoginRequest user) => await LogIn(user))" LoginError="CurrentViewModel.LoginError"/> *@
            <CardReserGo></CardReserGo>
    </div>
</div>
@code
{
    private string Icon = Icons.Material.Filled.HealthAndSafety;
    private async Task LogIn(DTOLoginRequest user)
    {
        await CurrentViewModel.Login(user);
        if(!CurrentViewModel.LoginError)
            NaviMngr.NavigateTo("/", true);
    }
}